input[type=text]{
    width: 1em;
    border: none;
    border-bottom: 1px solid black;
    margin:3px;
}

.usedLettersContainer{
    display: flex;
    flex-direction: column;
    width:75%;
    margin:auto;
}
.usedLetters{
    display: flex;
    flex-direction: row;
    width: 100%;
}