.WordGuessContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}

input[type=text] {
    width: 3em;
    height: 3em;
    border: none;
    border-bottom: 1px solid black;
    box-shadow: inset 1px solid;
    margin: 3px;
    text-align: center;
    text-transform: capitalize;
}



.usedLettersContainer {
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;

}

.usedLetters {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    text-transform: capitalize;
}

.button {
    box-shadow: inset 0 1px 0 0 #ffffff;
    background: #ffffff linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
    outline: 0;
}